p{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(172, 195, 215);
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}